.HomeViewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 500px) { 
    .HomeViewContainer{
        margin-top: 0px;
    }

}