body {
    margin: 0;
    padding: 0;
    background-color: #008080;
    font-family: 'msSanserif', sans-serif;
}

@font-face {
    font-family: 'msSanserif';
    src: url('./fonts/TheWyomingFont.ttf') format('truetype');
}