.NavbarLarge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020283;
    height: 50px;
    width: 80%
}
.NavbarLargeTextContent{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.NavbarLargeButtonsContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
}
.NavbarLargeButtonsContent button {
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background: #afafaf;
    color: #111;
    font-family: 'msSanserif', sans-serif;
    width: 30px;
}
.NavbarLogoIg{
    height: 30px;
    width: 30px;
}
@media (max-width: 500px) { 
    .NavbarLarge{
        width: 100%;
    }

}