.NavbarLarge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020283;
    height: 50px;
    width: 80%
}
.NavbarLargeTextContent{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.NavbarLargeButtonsContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.NavbarLargeButtonsContent button {
    border: 1px solid #000;
    background: #afafaf;
    color: #111;
    font-family: 'msSanserif', sans-serif;
}
.NavbarLogoIg{
    height: 30px;
    width: 30px;
}