.ProjectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9C0BB;
    width: 100%;
    height: 500px;
}
.ProjectCard img{

    width: 100%;
    height: 100%;
}

@media (max-width: 1400px) { 
    .ProjectCard{
        height: 400px;
    }
}
@media (max-width: 1250px) { 
    .ProjectCard{
        height: 350px;
    }
}
@media (max-width: 950px) { 
    .ProjectCard{
        height: 300px;
    }
}

@media (max-width: 900px) { 
    .ProjectCard{
        height: 250px;
    }
}
@media (max-width: 750px) { 
    .ProjectCard{
        height: 200px;
    }
}
@media (max-width: 500px) { 
    .ProjectCard{
        height: 150px;
    }
}