.ProjectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 80%;
    justify-content: center;
    background-color: #C9C0BB;

}
@media (max-width: 500px) { 
    .ProjectContainer{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: center;
        background-color: #C9C0BB;
    
    }
}